.tc{
    text-align:center;
}
section{
    width:100%;
    height:920px;
    background:url(../img/login_register/login_register_back.jpg) no-repeat 0 85%;
    background-size:cover;
}
section>div.reg_fiter{
background-color: rgba(0,0,0,0.3);
width:100%;
height:100%;
}
.reg_fiter{
    width:100%;
    height:650px;
    background-color: rgba(0,0,0,0.3);
}
div.reg_fiter>div.register{
    width:370px;
    background: #ffffff;
    top:53px;
    right:88px;
}
.tc{
    text-align:center;
}
div.register>div:first-child{
    padding-top:40px;
    padding-bottom:15px;    
}
div.register>div:nth-child(2){
font-size: 20px;
font-weight: 700;
}
div.register>div.input{
    padding-top:5%;
}
div.register>div.input>div{
    width:85%;
    margin:0 auto;
    margin-top:15px;
}
div.register>div.input>div>p{
   font-size:12px;
   margin-bottom:5px;
}
div.register>div.input>div>p>span{
    margin-left:10px;
}
div.register>div.input>div>input.shuru{
    height:30px;
    width:100%;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0 8px 0 32px;
    outline: none;
}
div.register>div.input>div>i{
    display:inline-block;
    width:20px;
    height:20px;
    position:absolute;
    top:26px;
    left:7px;
}
div.register>div.input>div.phone>i{
    background:url(../img/login_register/phone.png) no-repeat;
}
div.register>div.input>div.code>i{
    background:url(../img/login_register/nickname.png) no-repeat;
}
div.register>div.input>div.email>i{
    background:url(../img/login_register/email.png) no-repeat;
}
div.register>div.input>div.pwd>i{
    background:url(../img/login_register/pwd.png) no-repeat;
}
div.register>div.input>div.cpwd>i{
    background:url(../img/login_register/pwd.png) no-repeat;
}
div.register>div.input>div.strength>p{
    color:#888;
    font-size: 13px;
    padding-bottom:3px;
}
div.register>div.input>div.strength{
height:50px;
}
div.register>div.input>div.strength>div.strength_plain>span{
    background: #ddd;
    float:left;
    width: 40px;
    height: 6px;
}
div.register>div.input>div.input_checkbox{
    margin:0 auto;
    padding-top:10px;
    padding-bottom:15px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
div.register>div.input>div.input_checkbox>label{
    font-size: 13px;
    color: #888;
}
div.register>div.input>div>input.reg_button{
    padding:0;
    font-size: 13px;
    border-radius:3px;
}
div.register>div.input>div.input_register>input.reg_button{
    background: #292929;
    color:#fff;
}
div.register>div.input>div.input_login>input.reg_button{
color: #666
}
div.register div.dsf a{
display:inline-block;
width:24px;
height:24px;
background:url(../img/login_register/social_icon_24x24.png) no-repeat -48px -72px;
margin-left:10px;
top:5px;
}
div.register div.dsf{
    padding-top:20px;
    color: #888;
    padding-bottom:50px;
}
.err{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    background: #d14242;
    border-radius: 3px;
    transition: all .2s linear;
    margin: 10px 0 0 0;
    display:none;
}
.hint{
    margin-top:10px !important;
}
.strength_verify{background: #4ec130 !important;}
